@import "../../fonts/stylesheet.css";
@import '../../styles/variables';

.total {
    color: $primary;
}

.tablesList {
    background-color: $backgroundColor;
    border-radius: 12px !important;
    min-height: calc(100% - 16.4rem);
}

.number {
    background-color: white;
    width: auto;
    border-radius: 200px;
    padding: 3px 11px;
    font-weight: 700;
    border: none;
}

.number:hover,
.number:focus,
.active {
    background-color: $primary;
    color: white;
    font-weight: 700;
}

.container {
    height: calc(100vh - 14.2rem);
}