@import "../../fonts/stylesheet.css";
@import '../../styles/variables';

.button{
    color: white;
    border-color: $primary;
    background-color: $primary;
    border-radius: 7px;
    padding: 0.4rem;
}
.button:hover,
.button:focus {
    border-color: $primaryShaded;
    background-color: $primaryShaded;
    padding: 0.4rem;
}