@import "../../fonts/stylesheet.css";
@import '../../styles/variables';

.container {
    background-color: #fff;
    height: 100vh;
    position: fixed;
    z-index: 100;
    width: 6.7rem;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 2.6rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    border-radius: 0px 20px 20px 0px;
    box-shadow: -24px 0px 30px grey;
}

.logo {
    margin-bottom: 1rem;
}

.item {
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.71rem;
    font-family: 'Sofia Pro';
    font-weight: 300;
}

.active {
    background-color: $primary;
    color: white;
    border-radius: 12px;
}

.logout {
    font-family: 'Sofia Pro';
    font-weight: 300;
    color: $primary;
    font-size: 0.71rem;
    margin-bottom: 2rem;
}