@import "../fonts/stylesheet.css";
@import '../styles/variables';

.container{
    background-color: $backgroundColor;
    min-height: 100vh;
    padding-left: 7rem;
    z-index: -10;
    // margin: 0 !important;
}
.main{
    height: 100vh;
}