@import "../../fonts/stylesheet.css";
@import '../../styles/variables';

.orderDate {
    font-size: 0.75rem;
    font-family: 'Sofia Pro';
    font-weight: 300;
}

.orderType {
    font-size: 0.8rem;
    font-family: 'Sofia Pro';
    font-weight: 300;
}

.orderNumber {
    font-size: 1rem;
    font-family: 'Sofia Pro';
    font-weight: 300;
}

.BillContainer {
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.subPriceText {
    font-family: 'Sofia Pro';
    font-weight: 300;
    font-size: 0.96rem;
    color: #707070;
}

.subPriceNumber {
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 1rem;
    color: $primary;
}

.totalText {
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 1.1rem;
}

.totalNumber {
    font-family: 'Sofia Pro';
    font-weight: 600;
    font-size: 1.1rem;
    color: $primary;
}

.delete {
    background-color: $backgroundColor;
    border-color: $backgroundColor;
    color: red;

    &:hover,
    &:focus {
        background-color: $backgroundColor;
        border-color: $backgroundColor;
        color: rgb(255, 45, 45);
    }
}

.inputField,
.inputField:focus {
    background-color: $backgroundColor;
    height: 2.5rem;
    border-radius: 12px;
    border: none;
}

.inputText {
    font-family: 'Sofia Pro';
    font-weight: 300;
    font-size: 0.89rem;
    color: #707070;
}

.accordion {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.optionsContainer {
    margin-bottom: 5rem;
}

.dropdown_menu {
    width: 100%;
    background-color: $backgroundColor;
    border-color: $backgroundColor;
    color: black;
// text-align: start;
    &:hover,
    &:focus {
        background-color: $backgroundColor;
        border-color: $backgroundColor;
        color: black;
    }
}
.drop_down{
    width: 100%;
    left: 0;
}
@media (min-height: 600px) {
    .optionsContainer {
        margin-bottom: 1.8rem;
    }
}

@media (min-height: 900px) {
    .optionsContainer {
        margin-bottom: 0.6rem;
    }
}