@import "../../fonts/stylesheet.css";
@import '../../styles/variables';

.close {
    position: absolute;
    top: -0.9rem;
    right: 0.7rem;
    background-color: white;
    border: none;
    border-radius: 100%;
    box-shadow: 0px 0px 3px $primary;
    color: red;
    font-size: 18px;
    font-weight: 600;
    padding-left: 7px;
    padding-right: 7px;
}

.module {
    width: 21rem;
}
