.inputField {
  background-color: #fafafa;
  border: 1px solid #fafafa;
}
.link {
  color: black !important;
  // text-decoration: ;
    background-color: transparent;
    border: none;
    font-size: 0.9rem;
}

.noScroll {
  overflow-y: hidden;
}
