@import "../../fonts/stylesheet.css";
@import "../../styles/variables";

.price {
  color: #ff9017;
}

.title {
  font-family: "Sofia Pro";
  font-weight: 400;
  font-size: 0.95rem;
}

.button {
  background-color: #f5f5f5;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.button:hover,
.button:focus,
.button:focus-visible,
.button:active {
  background-color: #f5f5f5;
  box-shadow: 0px 0px 3px $primary;
  border: none;
  color: $primary;
  padding-left: calc(0.7rem + 1.5px);
  padding-right: calc(0.7rem + 1.5px);
}

.add {
  background-color: $primary;
  color: white;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.add:hover,
.add:focus,
.add:active {
  background-color: $primaryShaded;
  color: white;
}

.hot {
  background-color: #f5f5f5;
  padding-top: 3px;
  padding-left: 6px;
  border: none;
  border-radius: 4px;
}

.hot:active,
.hot:focus,
.hot:hover {
  background-color: white;
  padding-top: 2px;
  padding-left: 5px;
  border: 1px solid $primary;
  border-radius: 4px;
}
.alignment {
  width: 100%;
}
.grabbable {
  cursor: grab;
  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .alignment {
    width: 100%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .alignment {
    width: 100%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .alignment {
    width: 50%;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .alignment {
    width: 33%;
  }
}
@media (min-width: 1400px) {
  .alignment {
    width: 25%;
  }
}
